/* CSS 변수 */
:root {
    /* --대상-용도:반복속성값; */
    --text-title70:4.375rem;
    --text-contens21:1.313rem;
    --text-menu18:1.125rem;
    --text-sub12:0.75rem;
/* 행간 */
    --line-title:0.9;
    --line-contents:1.5;
/* 자간 */
    --letter-minus2:-0.02rem;
/* 굵기 */
    --weight-bold:700;
    --weight-semibold:600;
/* 색상(테두리색, 배경색, 글자색 등) */
    --color-white:#fff;
    --color-title_brown:#642C10;
    --color-title_indigo:#1d356D;
    --color-title_coral:#d43936;
    --color-gray4:#444;
    --color-graya:#aaa;
    /* 레이아웃 정보 */
    --width-desktop:1440px;
    --margin-desktop-1-r:80px;
}
#wrap {}
#wrap header {
    padding: 0 80px;
    height: 92px;
    display: flex;
    flex-flow:row nowrap; /* 메인축(수평) 줄바꿈 안함 */
    justify-content: space-between;/* 메인축 정렬(양쪽 끝) */
    align-items: center;/* 교차축(수직) 가운데 */
    position: relative;/* lnb의 크기+위치 부모 기준 */
}
#wrap header h1 {}
#wrap header h1 a {}
#wrap header h1 a img {}
#wrap header nav {
}
#wrap header nav .gnb {
    display: flex;
    flex-flow:row nowrap; /* 메인축(수평) 줄바꿈 안함 */
    gap:70px;
}
#wrap header nav .gnb > li {}
#wrap header nav .gnb > li > a {
    font-size: var(--text-menu18);
    line-height: 92px;
    display: block;
}
/* 메인메뉴에 마우스 올렸을 때 서브메뉴 보이기(공용) */
#wrap header nav .gnb > li:hover .lnb {display: flex;}
/* 서브메뉴 시작 */
#wrap header nav .gnb > li .lnb {
    background: rgba(255,255,255,0.7);
    position: absolute; z-index: 90;
    /* 교차시키기(absolute) + 중첩순서(z-index) */
    width: 100%;/* absolute 와 함께 w100%가 있으면 부모의 너비와 같다는 뜻 */
    left: 0px; top: 92px;
    display: flex; flex-flow: row nowrap;
    justify-content:center ; gap:80px; padding: 45px 0;
    display: none;
}
#wrap header nav .gnb > li .lnb > li {
    display: flex; flex-flow: column nowrap; align-items: center; gap: 20px;
}
#wrap header nav .gnb > li .lnb > li > a {
    font-size: var(--text-menu18); font-weight: var(--weight-semibold);
}
#wrap header nav .gnb > li .lnb > li .lnb_depth2 {
    display: flex; flex-flow: column nowrap; align-items: center; gap: 15px;
}
#wrap header nav .gnb > li .lnb > li .lnb_depth2 > li {}
#wrap header nav .gnb > li .lnb > li .lnb_depth2 > li a {}
#wrap header .right_menu {
    display: flex; flex-flow: row-nowrap;
    align-items: center;
}
#wrap header .right_menu > li {}
#wrap header .right_menu > li:first-child {display: flex; flex-flow: row nowrap;}
#wrap header .right_menu > li:first-child::after {
    content:''; display: block;
    width: 1px; height: 13px; background: var(--color-graya);
    margin: 0 40px;
}
#wrap header .right_menu > li > a {
    font-size: var(--text-sub12);
}
#wrap header .right_menu > li > a img {}
/* 언어선택 시 활성화 디자인 */
#wrap header .right_menu > li:nth-child(2) {    
    margin-right: 40px;
    position: relative;
}
/* 두번재 li에 마우스 올렸을 때 언어선택 보이기 */
#wrap header .right_menu > li:nth-child(2):hover .lang_select {display: flex;}
#wrap header .right_menu > li:nth-child(2) .lang_select {
    /* 형제 또는 부모와 겹치는 디자인 요소는 -> absolute */
    position: absolute; z-index: 100; /* 값은 0~999까지 쓸 수 있다. */
    display: flex; flex-flow: column nowrap; gap:10px;
    /* 초기숨기기 */
    display: none;
}
#wrap header .right_menu > li .lang_select a {
    background: var(--color-white); text-align: center;
    width: 40px; line-height: 40px; border-radius: 50%;
    border: 1px solid #AAA;
    font-size: var(--text-sub12);
}
#wrap header .right_menu > li:nth-child(2) .lang_select a.kr {}
#wrap header .right_menu > li:nth-child(2) .lang_select a.en {}
#wrap header .right_menu > li:nth-child(2) .lang_select a.cn {}
/* 메인 */
#wrap main {}